$min-width: 10rem;
$max-width: 100rem;
$target-width: 10rem;

$steps: ($max-width - $min-width) / $target-width;

$margin: 0.3rem;

@for $i from 0 through $steps {
	$width: $min-width + ($target-width * $i);
	$widthPercent: 100% / (floor($width / $target-width));
	@media(min-width: $width) {
		.ThreadPreview {
			width: calc(#{$widthPercent} - #{$margin} * 2);
		}
	}
}

.ThreadPreview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
  margin: $margin;
}

.ThreadPreview-actions {
	display: flex;
	width: 100%;
}

.ThreadPreview-action {
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
}

.ThreadPreview-action--hide:hover {
	background-color: red;
}

.ThreadPreview-action--save:hover {
	background-color: green;
}

.ThreadPreview-image {
  
}

.ThreadPreview-img {
  max-height: 180px;
  max-width: 100%;
}

.ThreadPreview-info {
	font-size: 0.8rem;
}

.ThreadPreview-comment {
	font-size: 0.8rem;
	max-height: 2rem;
	max-width: 100%;
	margin-bottom: auto;
	overflow: hidden;
	text-align: center;
}

.ThreadPreview-comment--full {
	max-height: inherit;
}